

.calculator{
    padding: 10px;
    border-radius: 1em;
    height: 380px;
    width: 400px;
    margin: auto;
    background-color: rgb(65, 66, 151);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.box-display{
    font-family: serif;
    border: solid blue 0.5px;
    background-color: #dcdbe1;
    color: black;
    border-radius: 5px;
    width: 100%;
    height: 65%;
}

#btn{
    background-color: burlywood;
}

input[type=button]{
    font-family: serif;
    border: solid blue 0.5px;
    background-color:plum;
    color: white;
    border-radius: 5px;
    width: 100%;           /*each cell occupies complete width in table cell*/
    height: 70%;
    outline: none;

}

input:active[type=button]{
    background: #e5e5e5;
   
    box-shadow: inset 0px 0px 5 px #c1c1c1;
}
